function ConvertToBinary.convert 4
push argument 1
pop static 0
push constant 1
neg
pop local 1
push constant 0
not
pop local 2
label WHILE_EXP0
push local 2
not
if-goto WHILE_END0
push local 1
push constant 1
add
pop local 1
push local 0
call ConvertToBinary.nextMask 1
pop local 0
push local 1
push constant 16
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push local 0
and
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END1
label IF_FALSE1
push local 1
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END1
goto IF_END0
label IF_FALSE0
push constant 0
pop local 2
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push static 0
pop argument 1
push argument 1
return
function ConvertToBinary.nextMask 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
goto IF_END0
label IF_FALSE0
push argument 0
push argument 0
add
return
label IF_END0
function ConvertToBinary.binaryToInt 1
push constant 0
pop local 0
push constant 0
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
pop local 0
label IF_FALSE0
push constant 1
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 2
add
pop local 0
label IF_FALSE1
push constant 2
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 4
add
pop local 0
label IF_FALSE2
push constant 3
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 8
add
pop local 0
label IF_FALSE3
push constant 4
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 16
add
pop local 0
label IF_FALSE4
push constant 5
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push constant 32
add
pop local 0
label IF_FALSE5
push constant 6
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push constant 64
add
pop local 0
label IF_FALSE6
push constant 7
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
push constant 128
add
pop local 0
label IF_FALSE7
push constant 8
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
push constant 256
add
pop local 0
label IF_FALSE8
push constant 9
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 0
push constant 512
add
pop local 0
label IF_FALSE9
push constant 10
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 0
push constant 1024
add
pop local 0
label IF_FALSE10
push constant 11
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 0
push constant 2048
add
pop local 0
label IF_FALSE11
push constant 12
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 0
push constant 4096
add
pop local 0
label IF_FALSE12
push constant 13
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push local 0
push constant 8192
add
pop local 0
label IF_FALSE13
push constant 14
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push local 0
push constant 16384
add
pop local 0
label IF_FALSE14
push constant 15
push argument 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 0
push constant 32767
add
push constant 1
add
pop local 0
label IF_FALSE15
push local 0
return
